:root {
  --color: #136cff;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
#speckle-container {
  position: fixed;
  height: 100%;
  top: 0;
  width: 100%;
  left: 0;
}

/*Header*/
header {
  position: fixed;
  z-index: 1000;
}
#logos-container {
  display: flex;
  margin-left: 48px;
  align-items: center;
  height: 5.5rem;
  align-items: center;
}
#logo-epfl {
  height: 27px;
}
.logos-unites {
  height: 50px;
  margin-left: var(--margin-left);
  margin-top: 8px;
}

/*Footer*/
#footer {
  font-size: 13px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  border: solid 1px #ccc;
  background-color: #fbfbfb;
}
#footer-title {
  margin-left: 48px;
}
#speckle-text {
  margin-right: 48px;
}

/*Introduction*/
#introduction-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
#introduction {
  width: 50%;
  background-color: rgb(0, 96, 223);
  color: white;
  padding: 15px;
  border: solid 1px #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#introduction-button {
  width: 50px;
  margin: 30px;
}

/*Menu*/
#menu {
  width: 20vw;
  margin-top: 20vh;
  margin-left: 2vw;
  border: solid 1px #ccc;
  border-radius: 5px;
  background-color: #fbfbfb;
  position: absolute;
  z-index: 100;
  user-select: none;
}
#menu-resizer {
  width: 10px;
  height: 100%;
  transform: translateX(100%);
  position: absolute;
  right: 0;
  top: 0;
  cursor: ew-resize;
}
/*Sets*/
#sets-list {
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 0;
}
#sets-list li input[type="button"] {
  height: 10px;
  width: 10px;
  font-size: 8px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  box-shadow: none;
  border-radius: 0;
  margin-right: 5px;
  padding: 0;
}
.list-item {
  list-style: none;
  padding-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  display: none;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-item-level-1 {
  display: block;
}
.list-item-level-2 {
  color: black;
  font-weight: bold;
}
/*CSS2D Labels : 2D Nominations, Points Icons, Dimensions Texts*/
.dimension-text {
  background-color: white;
  visibility: hidden;
}

/*Navigation*/
#nav-pane {
  position: absolute;
  z-index: 10;
  right: 20px;
  top: 20vh;
  display: flex;
  flex-direction: column;
}
.nav-button {
  border: solid 1px #ccc;
  border-radius: 5px;
  background-color: #fbfbfb;
  height: 40px;
  width: 40px;
  margin-bottom: 5px;
  fill: blue;
}
.nav-button:hover {
  background-color: white;
  cursor: pointer;
}
#display-menu-button {
  display: none;
}
#nav-views {
  display: none;
  position: absolute;
  flex-direction: column;
  transform: translateX(-105%) translateY(45px);
  border: solid 1px #ddd;
}
#nav-views button {
  border-radius: 0px;
  border-style: none;
  box-shadow: none;
  background-color: #fbfbfb;
  margin: 0;
  padding: 0 10px;
}
#nav-views button:hover {
  background-color: #ddd;
  cursor: pointer;
}
#button-vault {
  margin-top: 5px;
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  #logos-container {
    height: 40px;
    padding: 0;
    border-bottom: 1px solid #cccccc;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  #logo-epfl {
    height: 18px;
    margin-left: 20px;
  }
  .logos-unites {
    height: 30px;
    margin-left: 3px;
    margin-top: 2px;
  }
}

@media (max-width: 768px) {
  #introduction {
    width: 90%;
  }
  #footer {
    font-size: 10px;
  }
  #footer-title {
    margin-left: 20px;
  }
  #speckle-text {
    margin-right: 20px;
  }
  #display-menu-button {
    display: block;
  }
  #menu {
    display: none;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 50vh;
  }
  #sets-list {
    max-height: 40vh;
    overflow-x: scroll;
    overflow-y: scroll;
    padding-bottom: 10px;
  }
  #menu-resizer {
    display: none;
  }
  .list-item {
    overflow: visible;
  }
}
